@model IEnumerable<EntityLayer.Concrete.Category>





<div class="sidebar-box">
    <h3 class="heading">Kategoriler</h3>
    @foreach (var item in Model)
    {
    <ul class="categories">
        <li><a href="/Blog/BlogByCategory/@item.CategoryID">@item.CategoryName <span></span></a></li>
    </ul>

    }
</div>


